@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


body {
    margin: 0px;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #88058c;
    background-image: linear-gradient(45deg, #88058c, #ba2020);
    box-shadow: 0px 2px 13px 7px white;
}


nav.link-pages {
    display: flex;
    gap: 35px;
}

header > nav > a {
    text-decoration: none;
    color: white;
    font-family: 'Audiowide', sans-serif;
    font-size: 25px;
    transition: text-shadow 0.5s, color 0.5s;
}

header > nav > a:hover {
    text-shadow: 2px 2px 4px black;
    color: rgb(0 255 244);
}

p.Slogan {
    font-family: 'Audiowide', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 24px;
    background-color: black;
    background-image: linear-gradient(45deg, black,orange, transparent);
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 11px red;
    position: relative;
    z-index: -1;
}

div#product-image {
    background-image: url(product.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 927px;
}

div#product-things {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 24px;
}

div.product-section, footer {
    background-color: rgb(0 0 0 / 40%);
}

section {
    border: solid 5px orange;
    border-radius: 10px;
    padding: 16px;
    background-color: black;
    color: white;
}

h2 {
    font-family: 'Audiowide', sans-serif;
    font-weight: 100;
}

div.parallax-image {
    background-image: url(parallax.jpg);
    height: 927px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    padding: 24px;
}

form > label > a {
    color: white;
    text-decoration: none;
    transition:  box-shadow 0.5s;
}

form > label > a:active input {
    box-shadow: 12px 12px 12px white;
}

input.input-boxes {
    margin: 12px 0 12px 0;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 245px;
    transition: box-shadow 0.5s;
}

input.input-boxes:active {
    box-shadow: 7px 7px 10px black;
}

label, p {
    color: white;
}

button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 20px;
    font-family: 'Audiowide', sans-serif;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 13px 0px black;
}

@media screen and (max-width: 900px) {
    div#product-things {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 24px;
    }
}

@media screen and (max-width: 650px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        background-color: #88058c;
        background-image: linear-gradient(45deg, #88058c, #ba2020);
        box-shadow: 0px 2px 13px 7px white;
        flex-flow: wrap;
        row-gap: 25px;
    }

    nav.link-pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 25px;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 375px) {
    input.input-boxes {
        margin: 12px 0 12px 0;
        padding: 12px 12px 12px 12px;
        border-radius: 10px;
        border: none;
        outline: none;
        width: none;
        min-width: 230px;
    }
}
